<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Por favor cambie su contraseña</title>
</head>
<body>
  <h2>¡Hola {{colaborador}}! </h2>
  <p>Usted ha solicitado un código para registrar su marca de entrada. <br><br><br>

    Esta es su código temporal: {{codigo}} <br><br>

    ¡Feliz Día!
        
</body>
</html>