<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Por favor cambie su contraseña</title>
</head>
<body>
  <h2>¡Hola {{usuario}}! </h2>
  <p>Bienvenido a Faustica S.A. <br> Por favor siga el siguiente link que le permitirá 
    hacer cambio de su contraseña para el correcto ingreso a la plataforma. Recuerde que
    su contraseña es personal y confidencial, no la comparta con nadie. <br><br><br>

    Esta es su contraseña temporal: {{contrasena}} <br><br>
        
    <a href="http://127.0.0.1:5500/Vista/actualizarContrasena.html">Presione aquí para cambiar su contraseña</a>

</body>
</html>
