html {
    height: 100%;
}
body {
    background-image: 
            linear-gradient(to bottom right, 
                            #33475b, 
                            #255387,  
                            rgb(151, 85, 85));
}

#contMain{
    padding-top: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

#contImagen{  
    text-align: center;
    padding-bottom: 7%;
    padding-right: 10%;
}

#usuario{
    width: 7%;
    position:absolute;
}

#contForm{
    width: 30%;
    height: 100%;
    border-color: black;
    border-style: none;
    border-width: 0;
    border-radius:10px;
    background-color:rgba(232, 232, 239, 0.3);
    padding-top: 5%;
    padding-bottom: 1%;
    padding-right: 3%;
    padding-left: 3%;
    margin: 0 auto; 
}


form{
    opacity: 1;
    width: 95%;
    height: 95%;
}

#numEmpleado, #contrasena{
    background-color:#255387;
    border-radius:0px;
    border-color: #255387;
    margin-bottom: 4%;
}
#numEmpleado::placeholder, #contrasena::placeholder {
    color:white;
    opacity: .7 ;
    font-family:monospace;
    
}

#linkRegistro{
    padding-top: 2%;
    color:white;
    font-weight: 50%;
    font-family:'Courier New', Courier, monospace;
    font-size: small;
    text-align: center;
    text-decoration: none;
}

#contBoton{
    text-align: center;
    padding-top: 12%;
}

#btn_signin{
    background-color: rgba(239, 233, 232, 0.3);
    border-color: #255387;
    width: 100%;

    
}

#btn_signin:hover {
    background-color: rgb(93, 133, 219);
}