html {
    height: 100%;
}
body {
    background-color:aliceblue;
}

#contMain{
    padding-top: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white 
}

#contImagen{  
    text-align: center;
    padding-bottom: 7%;
    padding-right: 23%;
}

#usuario{
    width: 20%;
    position:absolute;
}

#contForm{
    width: 30%;
    height: 100%;
    border-color: black;
    border-style: none;
    border-width: 0;
    border-radius:10px;
    background-color:rgba(129, 125, 118, 0.3);
    padding-top: 5%;
    padding-bottom: 1%;
    padding-right: 3%;
    padding-left: 3%;
    margin: 0 auto; 
}


form{
    opacity: 1;
    width: 95%;
    height: 95%;
}

#numEmpleado, #contrasena{
    background-color:#5a481b;
    border-radius:0px;
    border-color: #5a481b;
    margin-bottom: 4%;
}
#numEmpleado::placeholder, #contrasena::placeholder {
    color:white;
    opacity: .7 ;
    font-family:monospace;
    
}


#contBoton{
    text-align: center;
    padding-top: 12%;
}

#btn_signin{
    background-color: rgba(72, 68, 67, 0.3);
    border-color: #5a481b;
    width: 100%;

    
}

#btn_signin:hover {
    background-color: #5a481b;
}

#linkRecuperacion{
    font-size: small;
   color: #5a481b;
}